mixin button-send(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_search" title=tooltip disabled=_parms.disabled)
        span.fa-stack.fa-lg
          i.fas.fa-file-export.fa-2x
        br
        span Enviar

  if _parms.size == "medium"
    button.button.medium-button(id="btn_search" title=tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.fas.fa-file-export.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_search" title=tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.fas.fa-file-export.fa-lg