mixin button-filter(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_filter" title=_parms.tooltip disabled=_parms.disabled)
      span.fa-stack.fa-lg
        i.fas.fa-filter.fa-2x
      br
      span Filtrar

  if _parms.size == "medium"
    button.button.medium-button(id="btn_filter" title=_parms.tooltip disabled=_parms.disabled)
       span.fa-filter.fa-2x
          i.fa.fas.fa-file-pdf.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_filter" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-filter.fa-sm
          i.fa.fas.fa-file-pdf.fa-lg