mixin button-filter(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.amButton.amBigButton(id="btnSearch" type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
      img(src="../../assets/images/btn-filter.png")
      span Consultar

  if _parms.size == "medium"
    button.amButton.amMediumButton.flex.items-center(id="btnSearch" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-filter.png")
      span Consultar

  if _parms.size == "small"
    button.amButton.amSmallButton(id="btnSearch" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-filter.png")