mixin button-edit(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}
  - var _label = (parms.label ? parms.label : "Editar")

  if _parms.size == "large"
    button.button.big-button(id="btn_edit" title=tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-consultar_32x32.png")
      span= _label

  if _parms.size == "medium"
    button.button.medium-button(id="btn_edit" title=tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.fas.fa-file-export.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_edit" title=tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.fas.fa-file-export.fa-lg