mixin button-export(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.amButton.amBigButton(id="btnExport" type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
        span.fa-stack.fa-lg
          i.fas.fa-file-upload.fa-2x
        br
        span Exportar

  if _parms.size == "medium"
    button.amButton.amMediumButton.flex.items-center(id="btnExport" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.fas.fa-file-upload.fa-sm
        span Exportar

  if _parms.size == "small"
    button.amButton.amSmallButton(id="btnExport" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.fas.fa-file-upload.fa-lg
