mixin button-import(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_import" type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
        span.fa-stack.fa-lg
          i.fas.fa-file-download.fa-2x
        br
        span Importar

  if _parms.size == "medium"
    button.button.medium-button(id="btn_import" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.fas.fa-file-download.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_import" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.fas.fa-file-download.fa-lg
