mixin button-add(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_add" type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
      img(src="../../assets/images/btn-agregar.png")
      span Agregar

  if _parms.size == "medium"
    button.button.medium-button.flex.items-center(id="btn_add" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-agregar.png")
      span Agregar

  if _parms.size == "small"
    button.button.small-button(id="btn_add" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-agregar.png")
