mixin button-search(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}
  - var _label = (parms.label ? parms.label : "Consultar")
  - var _id = (parms.id ? parms.id : "btnSearch")

  if _parms.size == "large"
    button.amButton.amBigButton(id=_id type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
      img(src="../../assets/images/btn-consultar_32x32.png")
      span=_label

  if _parms.size == "medium"
    button.amButton.amMediumButton.flex.items-center(id=_id title=_label data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-consultar_32x32.png")
      span=_label

  if _parms.size == "small"
    button.amButton.amSmallButton(id=_id title=_label data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-consultar_32x32.png")
