mixin button-filter-clean(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_clean" type="reset" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-filter-clean.png")
      span Limpiar

  if _parms.size == "medium"
    button.button.medium-button.flex.items-center(id="btn_clean" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-filter-clean.png")
      span Limpiar

  if _parms.size == "small"
    button.button.small-button(id="btn_clean" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-filter-clean.png")
