mixin button-search(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_search" type="submit" title=_parms.tooltip disabled=_parms.disabled value="validate")
        img(src="/assets/images/btn-consultar_32x32.png")
        span Consultar

  if _parms.size == "medium"
    button.button.medium-button(id="btn_search" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.fa.fa-search.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_search" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.fa.fa-search.fa-lg
