mixin button-custom(disabled=false, icon="fas fa-times-circle", title="Custom", size="large")
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_search" type="submit" data-tooltip=_parms.tooltip disabled=_parms.disabled value="validate")
        span.fa-stack.fa-lg
          i(class = icon + " fa-2x")
        br
        span #{title}

  if _parms.size == "medium"
    button.button.medium-button.flex.items-center(id="btn_search" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i(class = icon + " fa-sm")
        span #{title}

  if _parms.size == "small"
    button.button.small-button(id="btn_search" data-tooltip=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i(class = icon + " fa-lg")
