mixin button-cancel(disabled=false, size="large")
  - var tooltip = ""

  if size == "large"
    button.button.big-button(id="btn_search" type="reset" title=tooltip disabled=disabled)
        span.fa-stack.fa-lg
          i.fas.fa-ban.fa-2x
        br
        span Cancelar

  if size == "medium"
    button.button.medium-button(id="btn_search" title=tooltip disabled=disabled)
        span.fa-stack.fa-2x
          i.fas.fa-ban.fa-sm
  
  if size == "small"
    button.button.small-button(id="btn_search" title=tooltip disabled=disabled)
        span.fa-stack.fa-sm
          i.fas.fa-ban.fa-lg
