mixin button-clean(disabled=false, size="large")
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.button.big-button(id="btn_search" type="reset" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-lg
          i.far.fa-file.fa-2x
        br
        span Limpiar

  if _parms.size == "medium"
    button.button.medium-button(id="btn_search" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-2x
          i.far.fa-file.fa-sm

  if _parms.size == "small"
    button.button.small-button(id="btn_search" title=_parms.tooltip disabled=_parms.disabled)
        span.fa-stack.fa-sm
          i.far.fa-file.fa-lg
