mixin button-accept(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}

  if _parms.size == "large"
    button.amButton.amBigButton(id="btnAccept" type="reset" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-aceptar.png")
      span Aceptar

  if _parms.size == "medium"
    button.amButton.amMediumButton.flex.items-center(id="btnAccept" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-aceptar.png")
      span Aceptar

  if _parms.size == "small"
    button.amButton.amSmallButton(id="btnAccept" data-tooltip=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-aceptar.png")
