mixin button-pdf(parms)
  - var _parms = parms ? parms : {size: "large", disabled: false, tooltip: ""}
  - var _label = (parms.label ? parms.label : "PDF")
  - var _id = (parms.id ? parms.id : "btn_pdf")

  if _parms.size == "large"
    button.button.big-button(id=_id title=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-pdf_32x32.png")
      span=_label

  if _parms.size == "medium"
    button.button.medium-button(id=_id title=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-pdf_32x32.png")

  if _parms.size == "small"
    button.button.small-button(id=_id title=_parms.tooltip disabled=_parms.disabled)
      img(src="../../assets/images/btn-pdf_32x32.png")
