mixin field-checks(id, parms, ...items)
  - var _field_id = "field_" + id
  - var check_name = "chk_" + id
  - var check_name_arr = check_name + "[]"
  .field(id=_field_id)
    label(for=check_name)= parms.label
    each item, index in items
      - var check_id = "chk_" + id + "_" + index
      - var class_color = "is_" + item.color
      label.checkbox_input= item.value
        input(type="checkbox" name=check_name id=check_id value=item.key required=parms.required)
        if item.color
          span.checkmark.with_color(class=class_color)
        else
          span.checkmark