mixin field-select(id, parms, ...items)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _field_id = "divField" + _uppc_id
  - var _input_id = "cmb"+_uppc_id
  - var _select2_class_handler = "#select2-" + id + "-container"
  - var _field_error_block = "divFieldErrorBlock" + _uppc_id
  - var _field_error_block_id = "#" + _field_error_block
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _input_max_size = "32"
  - var _input_max_size_errmsg = "You can enter only " + _input_max_size + " characters."
  - var _class = (_class == "amIsHorizontal" ? _class + " items-center" : _class)
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=_input_id)= parms.label
        if parms.required
          span.pr-3.amRequired *
        else
          span.pr-3
    .amFieldControl(data-tooltip=_tooltip)
      select.select2(id=_input_id
                    name=_input_id
                    required=parms.required
                    style=_style
                    disabled=parms.disabled
                    data-parsley-trigger="change"
                    data-parsley-errors-container=_field_error_block_id
      )
        option
        each item in items
          - var _item_selected = (item.selected ? "selected" : "")
          option(value=item.key)= item.value
      .amFieldError
        div(id=_field_error_block)
