mixin field-swaplist(id, params)
  - var _id = id
  - var _id_source = id + "_source"
  - var _id_destination = id + "_destination"

  .listswap_wrapper(id=id)
    .row
      div(id="swaplist")
        div(id="swaplist-source")
          p.title= params.title_source
          ul.column.source(id=_id_source)
        .source_control
          .up
            button.up-button
              img(src="../../assets/images/flecha_arriba.png" style="width:19px;")
          .add
            button.right-button
              img(src="../../assets/images/flecha_derecha.png" style="width:18px;")
          .remove
            button.left-button
              img(src="../../assets/images/flecha_izquierda.png" style="width:16px;")
          .down
            button.down-button
              img(src="../../assets/images/flecha_abajo.png" style="width:18px;")
        div(id="swaplist-destination")
          p.title= params.title_source
          ul.column.destination(id=_id_destination)              
      .row
         div(id="swaplist-buttons")
          +button-accept
          +button-cancel
    
    