mixin field-email(id, parms)
  - var _field_id = "field_" + id
  - var input_id = "input_" + id
  - var size_class = "is-" + (parms.size ? parms.size : "vertical")
  .field(id=_field_id)
    label= parms.label
    if parms.required
      span.required *
    .control
      input.input(type="email" id=input_id class=size_class required=parms.required data-parsley-trigger="change")