mixin field-timepicker(id, parms)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _field_id = "divField" + _uppc_id
  - var _input_id = id[0].toLowerCase() + id.substr(1)
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _field_error_block = "divFieldErrorBlock" + _uppc_id
  - var _field_error_block_id = "#" + _field_error_block
  
  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=_input_id)= parms.label
      if parms.required
        span.amRequired *
    .amFieldControl
      .amFieldInput.flex.amItemsCenter
        input.amTimepicker.amInput(id=_input_id
          required=parms.required
          style=_style
          disabled=parms.disabled
          data-parsley-errors-container=_field_error_block_id
        )
      .amFieldError
        div(id=_field_error_block)