mixin field-fileupload(id, parms)
  - var _field_id = "divField" + id
  - var _input_id = id
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "32em") + ";"
  - var _file_extension = (parms.file_extension ? parms.file_extension : "image/*,.pdf") // ".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
  - var _multiple = (parms.multiple ? parms.multiple : false)
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=_input_id)= parms.label
      if parms.required
        span.amRequired *
    .amFieldControl(data-tooltip=_tooltip)
      input(type="file"
                  id=_input_id
                  name=_input_id
                  required=parms.required
                  style=_style
                  disabled=parms.disabled
                  accept=_file_extension
                  )