mixin field-checks(id, parms, ...items)
  - var _field_id = "divField" + id
  - var check_name = "chk" + id
  - var _field_error_block = "divFieldErrorBlock" + id
  - var _field_error_block_id = "#" + _field_error_block
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _field_control_class = (parms.orientation=="horizontal" ? "flex" : "")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var check_name_arr = check_name + "[]"
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=check_name)= parms.label
      if parms.required
        span.amRequired.pr-5 *
      else
        span.pr-5
    .amFieldControl(data-tooltip=_tooltip)
      div(class=_field_control_class)
        each item, index in items
          - var check_id = "chk" + id + index
          label.amCheckboxInput.pr-5= item.value
            input(type="checkbox"
                  name=check_name
                  id=check_id
                  value=item.key
                  required=parms.required
                  data-parsley-class-handler=("#" + _field_id)
                  data-parsley-errors-container=_field_error_block_id
            )
            if item.color
              span.amCheckmark.amWithColor(class="amIs"+item.color[0].toUpperCase() + item.color.substr(1))
            else
              span.amCheckmark
      .amFieldError
        div(id=_field_error_block)