mixin field-input(id, parms)
  - var _field_id = "field_" + id
  - var _input_id = id
  - var _type = (parms.type ? parms.type : "alphanum") // number, digits
  - var _class = "is_" + (parms.orientation ? parms.orientation : "vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _input_max_length = (parms.max_length ? parms.max_length : "32")
  - var _input_max_length_errmsg = "Solo puedes ingresar hasta " + _input_max_length + " caracteres."

  .field(id=_field_id class=_class)
    .field-label.flex
      label(for=_input_id)= parms.label
      if parms.required
        span.required *
    .field-control
      input.input(type="text"
        id=_input_id
        required=parms.required
        style=_style
        disabled=parms.disabled
        data-parsley-trigger="keyup"
        data-parsley-maxlength=_input_max_length
        data-parsley-maxlength-message=_input_max_length_errmsg
        data-parsley-validation-threshold="10"
        )