mixin field-checks(id, parms, ...items)
  - var _field_id = "field_" + id
  - var check_name = "chk_" + id
  - var _field_error_block = "field_error_block_" + id
  - var _field_error_block_id = "#" + _field_error_block
  - var _class = "is_" + (parms.orientation ? parms.orientation : "vertical")
  - var _field_control_class = (parms.orientation=="horizontal" ? "flex" : "")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var check_name_arr = check_name + "[]"
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .field(id=_field_id class=_class)
    .field-label.flex
      label(for=check_name)= parms.label
      if parms.required
        span.required.pr-5 *
      else
        span.pr-5
    .field-control(data-tooltip=_tooltip)
      div(class=_field_control_class)
        each item, index in items
          - var check_id = "chk_" + id + "_" + index
          - var class_color = "is_" + item.color
          label.checkbox_input.pr-5= item.value
            input(type="checkbox"
                  name=check_name
                  id=check_id
                  value=item.key
                  required=parms.required
                  data-parsley-class-handler=("#" + _field_id)
                  data-parsley-errors-container=_field_error_block_id
            )
            if item.color
              span.checkmark.with_color(class=class_color)
            else
              span.checkmark
      .field-error
        div(id=_field_error_block)