mixin field-switch(id, parms, ...items)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _field_id = "divField" + _uppc_id
  - var _field_error_block = "divFieldErrorBlock" + _uppc_id
  - var _field_error_block_id = "#" + _field_error_block
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label.amFieldLabel= parms.label
      if parms.required
        span.pr-5.amRequired *
      else
        span.pr-5
    .amFieldControl.amRadioToggle.amHasToggleInput(data-tooltip=_tooltip)
        .amFormCheck
            each item, index in items
                - var item_id = "rdb" + _uppc_id + index
                - var _checked = (index==0 ? true : false)
                
                if index==0
                  label.amFormCheckLabel.amLeft
                      input.amFormCheckInput(type="radio"
                          name=id
                          id=item_id
                          value=item.key
                          required=parms.required
                          checked=_checked
                          data-parsley-errors-container=_field_error_block_id
                      )
                      span= item.value
                else
                  label.amFormCheckLabel.amRight
                      input.amFormCheckInput(type="radio"
                          name=id
                          id=item_id
                          value=item.key
                          required=parms.required
                          checked=_checked
                          data-parsley-errors-container=_field_error_block_id
                      )
                      span= item.value

        .amFieldError
        div(id=_field_error_block)