mixin field-search(id, parms)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _field_id = "divField" + _uppc_id
  - var _input_id = "txt" + _uppc_id
  - var _type = (parms.type ? parms.type : "alphanum") // number, digits
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _input_max_length = (parms.max_length ? parms.max_length : "32")
  - var _input_max_length_errmsg = "Solo puedes ingresar hasta " + _input_max_length + " caracteres."
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=_input_id)= parms.label
      if parms.required
        span.amRequired *
    .amFieldControl.relative(data-tooltip=_tooltip)
      button.btnSearch.absolute.flex.amItemsCenter.amContentEnd(type="button")
        svg.fill-current.text-gray-500.pt-2(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
      input.border.border-solid.border-gray-500.rounded-full.pl-8(type="text"
        id=_input_id
        required=parms.required
        data-parsley-type=_type
        style=_style
        disabled=parms.disabled
        data-parsley-trigger="keyup"
        data-parsley-maxlength=_input_max_length
        data-parsley-maxlength-message=_input_max_length_errmsg
        data-parsley-validation-threshold="10"
        )