mixin field-swaplist(id, params)
  - var _id = id
  - var _id_source = id + "_source"
  - var _id_destination = id + "_destination"

  .listswap_wrapper(id=id)
    .row
      div(id="swaplist")
        div(id="swaplist-source")
          p.title= params.title_source
          ul.column.source(id=_id_source)
        .source_control
          .up(style="margin-top:3px;")
            button.up-button
              img(src="../../assets/images/arrowup.png" style="width:18px;")
          .add(style="margin-top:3px;")
            button.right-button
              img(src="../../assets/images/arrowright.png" style="width:18px;")
          .remove(style="margin-top:3px;")
            button.left-button
              img(src="../../assets/images/arrowleft.png" style="width:18px;")
          .down(style="margin-top:3px;")
            button.down-button
              img(src="../../assets/images/arrowdown.png" style="width:18px;")
        div(id="swaplist-destination")
          p.title= params.title_source
          ul.column.destination(id=_id_destination)              
      .row
         div(id="swaplist-buttons")
          +button-accept
          +button-cancel
    
    