mixin field-swaplist(id, params)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _id = 'lst' + _uppc_id
  - var _id_source = _id + "Source"
  - var _id_destination = _id + "Destination"

  .amListSwapWrapper(id=_id)
    .amRow
      div(id="divSwapList")
        div(id="divSwapListSource")
          p.amTitle= params.title_source
          ul.amColumn.amSource(id=_id_source)
        .amSourceControl
          .amUp(style="margin-top:3px;")
            button.amUpButton
              img(src="../../assets/images/flecha-arriba.png" style="width:18px;")
          .amAdd(style="margin-top:3px;")
            button.amRightButton
              img(src="../../assets/images/flecha-derecha.png" style="width:18px;")
          .amRemove(style="margin-top:3px;")
            button.amLeftButton
              img(src="../../assets/images/flecha-izquierda.png" style="width:18px;")
          .amDown(style="margin-top:3px;")
            button.amDownButton
              img(src="../../assets/images/flecha-abajo.png" style="width:18px;")
        div(id="divSwapListDestination")
          p.amTitle= params.title_source
          ul.amColumn.amDestination(id=_id_destination)              
      .amRow
         div(id="divSwapListButtons")
          +button-accept
          +button-cancel
    
    