mixin field-select(id, parms, ...items)
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _placeholder = parms.placeholder ? parms.placeholder : "-- Seleccione --"

  .field
    label= parms.label
    label.select
      select.select2(id=id
                    name=id
                    required=parms.required
                    style=_style)
        each item in items
          option(value=item.key)= item.value