mixin field-date(id, _label="", required=false, size="8em", disabled=false, orientation="vertical")
  - var input_id = "input_" + id
  - var btn_id = "btn_" + id
  - var _class = "is_" + orientation
  - var style = "width: " + size + ";"
  .field(class=_class)
      label(for=input_id)= _label
      if required
        span.required *
      .control.has-addons
        input.input.is-small(id=input_id
                             required=required
                             style=style
                             disabled=disabled
        )