mixin field-select-plus-minus(id, parms, ...items)
  - var _field_id = "field_" + id
  - var _input_id = id
  - var _input_id_h = id + "_hidden"
  - var _class = "amIs" + (parms.orientation ? parms.orientation[0].toUpperCase() + parms.orientation.substr(1) : "Vertical")
  - var _style = "width: " + (parms.size ? parms.size : "8em") + ";"
  - var _input_max_size = "32"
  - var _input_max_size_errmsg = "You can enter only " + _input_max_size + " characters."
  - var btn_plus_id = "btn_plus_" + id
  - var btn_minus_id = "btn_minus_" + id
  - var tag_list_id = "tag_list_" + id
  - var _field_error_block = "field_error_block_" + id
  - var _field_error_block_id = "#" + _field_error_block
  - var _tooltip = (parms.tooltip ? parms.tooltip : "")

  .amField(id=_field_id class=_class)
    .amFieldLabel.flex
      label(for=_input_id)= parms.label
      if parms.required
        span.amRequired *
    .amFieldControl
      .amFieldPlusMinus.amHasAddons.flex(data-tooltip=_tooltip)
        select.select2(id=_input_id
                    required=parms.required
                    style=_style
                    disabled=parms.disabled
                    data-parsley-trigger="keyup"
                    data-parsley-maxlength=_input_max_size
                    data-parsley-maxlength-message=_input_max_size_errmsg
                    data-parsley-validation-threshold="10"
                    data-parsley-errors-container=_field_error_block_id
                    )          
          each item in items
            option(value=item.key)= item.value
        input.amInput(type="hidden"
        id=_input_id_h
        )          
        button.amButtonNoborder(id=btn_plus_id type="button")
          img.plus-icon(src="../../assets/images/plus-icon.png")
        button.amButtonNoborder(id=btn_minus_id type="button")
          img.minus-icon(src="../../assets/images/minus-icon.png")
      .amFieldError
        div(id=_field_error_block)
      ul.amTagList(id=tag_list_id
                  style=_style
                  )