mixin field-select(id, _label="", required=false, size="8em", ...items)
  - var style = "width: " + size + ";"
  .field
    label= _label
    label.select
      select.selectbox(required=required
                       style=style)
        option(value="")
        each item in items
          option(value=item.key)= item.value