mixin form(id, parms)
  - var form_id = id[0].toLowerCase() + id.substr(1)
  - var _parms = (parms ? parms : {})

  form.amFormGroup(id=id
      class=_parms.class
      method="post"
      data-parsley-validate=""
      enctype="multipart/form-data"
  )
    block