mixin form(id, parms)
  - var form_id = id
  - var _parms = (parms ? parms : {})

  form(id=id
      class=_parms.class
      method="post"
      data-parsley-validate=""
      enctype="multipart/form-data"
  )
    block