mixin quiz(id, params, questions, answers)
    - var _style_questions = "width: " + (params.size ? params.size : "50em") + ";"

    table.quiz
        thead
            tr
                th.question(style=_style_questions) #{params.name}
                each answer in answers
                    th #{answer.answer}
        tbody
            each question, index in questions
                - var _answer_name = id + "_" + index
                tr
                    td.question #{question.question}
                        if question.required
                            span.required *
                    each answer in answers
                        td
                            if answer.type == "option"
                                .answer
                                    input(type="radio" name=_answer_name)
                                    span.checkmark

                            if answer.type == "select"
                                - var _style_select = "width: " + (answer.size ? answer.size : "8em") + ";"
                                .answer
                                    select.select2(
                                        name="quiz_select"
                                        style=_style_select
                                    )
                                        each option in answer.options
                                            option(value=option.key) #{option.value}