mixin quiz(id, params, questions, answers)
    - var _style_questions = "width: " + (params.size ? params.size : "50em") + ";"

    table.amQuiz
        thead
            tr
                th.amQuestion(style=_style_questions) #{params.name}
                each answer in answers
                    th #{answer.answer}
        tbody
            each question, index in questions
                - var _answer_name = id + index
                - var _field_error_block = "fieldErrorBlock" + id + index
                - var _field_error_block_id = "#" + _field_error_block
                tr
                    td.amQuestion #{question.question}
                        if question.required
                            span.amRequired *
                        .fieldError
                            div(id=_field_error_block)
                    each answer, j in answers
                        - var _answer_id = _answer_name + j
                        - var _answer_points = (question.points ? question.points[j] : "1")
                        - var _disabled = (answer.disabled ? answer.disabled : false)
                        td
                            if answer.type == "option"
                                .amAnswer
                                    input(type="radio"
                                        id='rbd' + _answer_id
                                        name='rbd' + _answer_name
                                        required=question.required
                                        disabled=_disabled
                                        data-parsley-errors-container=_field_error_block_id
                                        data-points=_answer_points
                                    )
                                    span.checkmark
                            if answer.type == "select"
                                - var _style_select = "width: " + (answer.size ? answer.size : "8em") + ";"
                                .amAnswer
                                    select.select2(
                                        id='cmb' + _answer_id
                                        name="amQuizSelect"
                                        style=_style_select
                                        required=question.required
                                        disabled=_disabled
                                        data-parsley-errors-container=_field_error_block_id
                                    )
                                        each option in answer.options
                                            option(value=option.key) #{option.value}