mixin quiz(id, params, questions, answers)
    - var _style_questions = "width: " + (params.size ? params.size : "50em") + ";"

    table.quiz
        thead
            tr
                th.question(style=_style_questions) #{params.name}
                each answer in answers
                    th #{answer.answer}
        tbody
            each question, index in questions
                - var _answer_name = id + "_" + index
                - var _field_error_block = "field_error_block_" + id + "_" + index
                - var _field_error_block_id = "#" + _field_error_block
                - var _question_points = (question.points ? question.points : "1")
                tr
                    td.question(data-question-points=_question_points) #{question.question}
                        if question.required
                            span.required *
                        .field-error
                            div(id=_field_error_block)
                    each answer, j in answers
                        - var _answer_id = _answer_name + "_" + j
                        - var _answer_points = (answer.points ? answer.points : "1")
                        td
                            if answer.type == "option"
                                .answer
                                    input(type="radio"
                                          id=_answer_id
                                          name=_answer_name
                                          required=question.required
                                          data-parsley-errors-container=_field_error_block_id
                                          data-points=_answer_points
                                    )
                                    span.checkmark
                            if answer.type == "select"
                                - var _style_select = "width: " + (answer.size ? answer.size : "8em") + ";"
                                - var _disabled = (answer.disabled ? answer.disabled : false)
                                .answer
                                    select.select2(
                                        id=_answer_id
                                        name="quiz_select"
                                        style=_style_select
                                        required=question.required
                                        disabled=_disabled
                                        data-parsley-errors-container=_field_error_block_id
                                        data-answer-points=_answer_points
                                    )
                                        each option in answer.options
                                            option(value=option.key) #{option.value}